{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Clases de Yoga Online y Presenciales</h1>
    <h2>Clases de yoga online</h2>
    <h3>¿Por qué practicar yoga?</h3>
   
    <ul>
        <li>Sentite saludable</li>
           <p>El Yoga fortalece tu cuerpo y favorece un estado de tranquilidad y calma para la mente.</p>
        <li>Mejorá tu respiración</li>
            <p>Renová tu energía con la respiración profunda Yogui.</p>
        <li>Mejorá tu postura</li>
            <p>La práctica de Yoga fortalece, da flexibilidad y equilibrio físico, mental y emocional.</p>
        <li>Encontrá tu equilibrio</li>
            <p>Respirá profundo y entregate al disfrute de la práctica de Yoga.</p>
    </ul>
    


    

  

{% endblock %}
